
#QuadCinza2{
    width: 95%;
    height: 3px;
    background-color: #22222217;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
body.dark-mode #QuadCinza2{
    background-color: white;
}
section{
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 230px;
}
section h1{
    font-size: 45px;
}
section h2{
    font-size: 32px;
    font-weight: 300;
    margin-top: -30px;
}
