body{
    font-family: "Inter", sans-serif;
    background-image: url(../../resources/images/fundo.registra1.png);
    background-attachment: fixed;
    background-position: 100%;
    transition: background-image 0.3s ease, color 0.3s ease;
}
body.dark-mode {
    background-image: url(../../resources/images/fundo.registra.dark.png);
    background-attachment: fixed;
    background-color: #262626;
    color: white;
}
section{
    height: 89vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Quad{
    width: 696px;
    height: 800px;
    background-color: white;
    border-radius: 52px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    text-align: center;
    transition: background-image 0.3s ease, color 0.3s ease;
}
body.dark-mode #Quad{
    background-color: #262626;
    border: 1px solid white;
}
#Quad h1{
    text-align: center;
    font-weight: 500;
    padding-top: 2%;
    font-size: 30px;
}
#QuadCinza2{
    width: 99%;
    height: 3px;
    background-color: #22222217;
}
body.dark-mode #QuadCinza2{
    background-color: white;
}
input{
    border: 1px solid rgba(0, 0, 0, 0.473);  
}
body.dark-mode input{
    border: 1px solid white  
}
input{
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 22px;
    width: 602px;
    height: 74px;
    border-radius: 5px;
    background-color: white;
}
body.dark-mode input{
    background-color: rgba(255, 255, 255, 0.144);
    color: white;
}
#Quad button{
    margin-top: 5%;
    border: none;
    font-size: 32px;
    font-weight: bold;
    width: 602px;
    height: 74px;
    background-color: #22222217;
    border-radius: 20px;
    cursor: pointer;
    transition-duration: 0.4s;
}
#Quad button:hover{
    background-color: #d6d6d6;
    font-weight: 600;
}
body.dark-mode #Quad button{
    background-color: rgba(255, 255, 255, 0.144);
    color: white;
}
body.dark-mode #Continuar:hover{
    background-color: black;
    font-weight: 600;
}
a{
    font-weight: 600;
}
#txt4{
    margin-top: 2%;
}
input::placeholder{
        color: black;
}
body.dark-mode input::placeholder {
    color: white;
  }
.dropdown-child{
    display: none;
}
section div{
    font-size: 16px;
}
@media (max-width: 480px){
    #Quad {
        width: 348px; /* 696px - 50% */
        height: 500px; /* 800px - 50% */
    }
    
    #Quad h1 {
        font-size: 15px; /* 30px - 50% */
    }
    
    input {
        font-size: 15px; /* 22px - 50% */
        width: 301px; /* 602px - 50% */
        height: 37px; /* 74px - 50% */
        margin-top: 4%;
        margin-bottom: 4%;
    }
    
    #Quad button {
        font-size: 16px; /* 32px - 50% */
        width: 301px; /* 602px - 50% */
        height: 37px; /* 74px - 50% */
    }
    section div{
        font-size: 14px;
    }
    #txt4{
        margin-top: 4%;
        font-size: 10px;
    }
    #txt5{
        font-size: 10px;
    }
}