body{
  font-family: "Inter", sans-serif;
  background-color: #22222217;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#Quad{
  width: 696px;
  height: 551px;
  background-color: white;
  border-radius: 52px;
}

#Quad h1{
  text-align: center;
  font-weight: 500;
  padding-top: 35px;
  font-size: 30px;
}
#Quad h2{
  text-align: center;
  font-weight: 500;
  font-size: 25px;
}
#QuadCinza{
  width: 681px;
  height: 3px;
  background-color: #22222217;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
header{
  padding-top: 15px;
}
#picture__input {
  display: none;
}

label{ 
position: absolute;
top: 60%;
left: 50%;
transform: translate(-50%, -50%);
} 
.picture {
  width: 170px;
  height: 170px;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  cursor: pointer;
  font-family: sans-serif;
  transition: color 300ms ease-in-out, background 300ms ease-in-out;
  transition: 0.6s;
  outline: none;
  overflow: hidden;
  border-radius: 100%;
}

.picture:hover {
  color: white;
  background-color: black;
  width: 180px;
  height: 180px;
}

.picture:active {
  color: turquoise;
  background: #eee;
}

.picture:focus {
  color: #777;
  background: #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.picture__img {
  max-width: 100%;
}

input[type=submit]{
  border: none;
  font-size: 32px;
  font-weight: bolde;
  width: 602px;
  height: 74px;
  background-color: #22222217;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition-duration: 0.4s;
}
input[type=submit]:hover{
  background-color: black;
  color: white;
}
input::placeholder{
  color: black;
}
#txt1{
  font-size: 50px;
}
.picture img{
  width: 180px;
  height: 180px;
}