body{
    font-family: "Inter", sans-serif;
    background-image: url(../../../resources/backgrounds/fundo2.png);
    background-size: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Quad{
    width: 696px;
    height: 859px;
    background-color: white;
    border-radius: 52px;
}
#Quad h1{
    text-align: center;
    font-weight: 500;
    padding-top: 35px;
    font-size: 30px;
}
#QuadCinza{
    width: 681px;
    height: 3px;
    background-color: #22222217;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
input{
    border: 1px solid rgba(0, 0, 0, 0.473);
}
#cpf{
    font-size: 22px;
    position: absolute;
    left: 50%;
    top: 22%;
    transform: translate(-50%, -50%);
    width: 602px;
    height: 74px;
    border-radius: 5px;
    background-color: white;
}
#txt1{
    position: absolute;
    left: 25%;
    top: 30%;
    transform: translate(-50%, -50%);
}
#nome{
    font-size: 22px;
    position: absolute;
    left: 50%;
    top: 38%;
    transform: translate(-50%, -50%);
    width: 602px;
    height: 74px;
    border-radius: 5px;
    background-color: white;
}
#sobrenome{
    font-size: 22px;
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translate(-50%, -50%);
    width: 602px;
    height: 74px;
    border-radius: 5px;
    background-color: white;
}
#txt2{
    position: absolute;
    left: 26%;
    top: 56%;
    transform: translate(-50%, -50%);
}
#email{
    font-size: 22px;
    position: absolute;
    left: 50%;
    top: 64%;
    transform: translate(-50%, -50%);
    width: 602px;
    height: 74px;
    border-radius: 5px;
    background-color: white;
}
#txt3{
    position: absolute;
    left: 33%;
    top: 72%;
    transform: translate(-50%, -50%);
}
button{
    border: none;
    font-size: 32px;
    font-weight: bold;
    width: 602px;
    height: 74px;
    background-color: #22222217;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition-duration: 0.4s;
}
button:hover{
    background-color: black;
    color: white;
}
#txt4{
    text-align: center;
    margin-top: 97%;

}
#txt5{
    text-align: center;
    }

a{
        font-weight: 600;
}

input::placeholder{
        color: black;
}
    
