body{
    font-family: "Inter", sans-serif;
    background-color: #22222217;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Quad{
    width: 696px;
    height: 551px;
    background-color: white;
    border-radius: 52px;
}

#Quad h1{
    text-align: center;
    font-weight: 500;
    padding-top: 35px;
    font-size: 30px;
}
#Quad h2{
    font-size: 32px;
    font-weight: 400;
    position: absolute;
    left: 8%;
}
#QuadCinza{
    width: 681px;
    height: 3px;
    background-color: #22222217;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
