header{
    background-color: white;
}
#QuadCinza2{
    width: 95%;
    height: 3px;
    background-color: #22222217;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
body.dark-mode #QuadCinza2{
    background-color: white;
}
#menu-container{
    padding-top: 250px;
}
section{
    padding-bottom: 100px;
    margin-left: 230px;
}

section h1{
    font-size: 45px;
}
section h2{
    font-size: 32px;
    font-weight: 300;
    margin-top: -30px;
}
.form-container{
    margin-top: 100px;
    margin-left: 230px;
}
.form-container h2{
    font-size: 45px;
}
label{
    font-size: 28px;
    font-weight: 200;
}
input{
        font-size: 32px;
        width: 500px;
        height: 50px;
        border: none;
        background-color: transparent;
        transition: 0.3s ease, color 0.3s ease;
 }
 select{
    font-size: 32px;
    font-family: "Inter", sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.473);
    font-size: 30px;
    width: 500px;
    height: 50px;
    background-color: white;  
    margin-bottom: 15px;
    background-color: transparent;
    color: black;
    padding-left: 5px;
  }
  body.dark-mode form select{
    border: 1px solid white;
    color: white;
  }
 .form-group button{
    font-size: 24px;
    font-weight: 100;
    width: 220px;
    height: 50px;
    border: solid 1px black;
    border-radius: 10px;
    transition: 0.6s;
    margin-top: 2%;
}
.form-group button:hover{
    background-color: black;
color: white;
cursor: pointer;
}    
body.dark-mode input{
    color: white;
}
#ImgPerfil1{
    position: absolute;
    margin-left: 55%;
    margin-top: -16%;
    border-radius: 100%;
}
#picture__input {
    display: none;
  }
 #ImgPerfil1 .picture {
    width: 600px;
    height: 600px;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    transition: 0.6s;
    outline: none;
    overflow: hidden;
    border-radius: 20px;
  }
  
  #ImgPerfil1 .picture:hover {
    color: white;
    background-color: black;
    width: 620px;
    height: 620px;
  }
  
  #ImgPerfil1 .picture:active {
    color: turquoise;
    background: #eee;
  }
  
  #ImgPerfil1 .picture:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  .picture img{
    width: 650px;
    height: 650px;
  }
  #ImgPerfil1 input[type=submit]{
    position: relative;
    font-size: 24px;
        font-weight: 100;
        width: 220px;
        height: 50px;
        border: solid 1px black;
        border-radius: 10px;
        transition: 0.6s;
        margin-left: 30%;
        cursor: pointer;
        margin-top: 3%;
}
#ImgPerfil1 input[type=submit]:hover{
    background-color: black;
    color: white;
}
#ImgPerfil1 input::placeholder{
    color: black;
}