body{
    font-family: "Inter", sans-serif;
    transition: background-image 0.3s ease, color 0.3s ease;
    background-attachment: fixed;
}
body.dark-mode {
    background-color: #262626;
    color: #ffffff;
}
header{
    background-color: white;
}
#QuadCinza2{
    width: 95%;
    height: 3px;
    background-color: #22222217;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
body.dark-mode #QuadCinza2{
    background-color: white;
}
section{
    padding-top: 8%;
    padding-bottom: 8%;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 0.7;
}
section h1{
    font-size: 45px;
}
section h2{
    font-size: 32px;
    font-weight: 300;
}
.form-container{
    margin-top: 100px;
    margin-left: 230px;
}
.form-container h2{
    font-size: 45px;
}
label{
    font-size: 28px;
    font-weight: 200;
}
input{
        font-size: 32px;
        width: 500px;
        height: 50px;
        border: none;
        background-color: transparent;
        transition: 0.3s ease, color 0.3s ease;
 }
.form-group button{
  margin-top: 10px;
  width: 380px;
  height: 75px;
  border-radius: 20px;
  font-size: 32px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  color: white;
  transition: 0.6s;
  border-style: none;
  border: 1px solid #FEA500;
  background-color: transparent;
  color: #FEA500;
}
.form-group button:hover{
  background-color: #FEA500;
  color: white;
  font-weight: 600;
}



body.dark-mode input{
    color: white;
}
#ImgPerfil1{
    position: absolute;
    margin-left: 55%;
    margin-top: -16%;
    border-radius: 100%;
}
#picture__input {
    display: none;
  }
 #ImgPerfil1 .picture {
    width: 600px;
    height: 600px;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    transition: 0.6s;
    outline: none;
    overflow: hidden;
    border-radius: 100%;
  }
  
  #ImgPerfil1 .picture:hover {
    color: white;
    background-color: black;
    width: 620px;
    height: 620px;
  }
  
  #ImgPerfil1 .picture:active {
    color: turquoise;
    background: #eee;
  }
  
  #ImgPerfil1 .picture:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  .picture img{
    width: 650px;
    height: 650px;
  }

#ImgPerfil1 input[type=submit]{
  margin-top: 10px;
  width: 380px;
  height: 75px;
  border-radius: 20px;
  font-size: 32px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  color: white;
  transition: 0.6s;
  border-style: none;
  border: 1px solid #FEA500;
  background-color: transparent;
  color: #FEA500;
}
#ImgPerfil1 input[type=submit]:hover{
  background-color: #FEA500;
  color: white;
  font-weight: 600;
}

#ImgPerfil1 input::placeholder{
    color: black;
}
  #foto{
    margin-top: 10px;
    width: 380px;
    height: 75px;
    border-radius: 20px;
    font-size: 32px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    color: white;
    transition: 0.6s;
    border-style: none;
    border: 1px solid #FEA500;
    background-color: transparent;
    color: #FEA500;
  }
  #foto:hover{
    background-color: #FEA500;
    color: white;
    font-weight: 600;
  }
  body.dark-mode section form button{
    background-color: #262626;
    color: white;
    border-style: none;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.25);
  }

  .form-container button{
    margin-top: 10px;
    width: 380px;
    height: 75px;
    border-radius: 20px;
    font-size: 32px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    color: white;
    transition: 0.6s;
    border-style: none;
    border: 1px solid #FEA500;
    background-color: transparent;
    color: #FEA500;
  }
  .form-container button:hover{
    background-color: #FEA500;
    color: white;
    font-weight: 600;
  }
  @media (max-height: 800px){
    #ImgPerfil1 .picture {
      width: 500px;
      height: 500px;
    }
    #ImgPerfil1 .picture:hover {
      color: white;
      background-color: black;
      width: 520px;
      height: 520px;
    }
    .picture img{
      width: 550px;
      height: 550px;
    }
  }
