section{
    display: grid;
    gap: 10px;
    padding-top: 150px;
    margin-left: 10%;
}
section h1{
    font-size: 55px;
}
#nome{
font-size: 36px;
color: black;
width: 725px;
height: 75px;
border-radius: 15px 15px 0px 0px;
border: solid black 1px;
background-color: white;
}
body.dark-mode #nome{
    border: solid white 1px;
    color: white;
    background-color: #262626;
}
body.dark-mode input::placeholder{
    color: white;
}
input::placeholder{
    color: black;
}
select{
    font-size: 36px;
    color: black;
    width: 725px;
    height: 75px;
    border: solid black 1px;
    background-color: white;
}
body.dark-mode select{
    color: white;
    border: solid white 1px;
    background-color:#262626;
}
.radio-group {
    display: flex;
    align-items: center;
    gap: 20px;
}
.radio-group h3{
    font-weight: 300;
    font-size: 30px;
}
.radio-group label {
    font-size: 30px; /* Ajuste o valor conforme necessário */
}
.radio-option {
    display: flex;
    align-items: center;
}
.radio-option input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    border-radius: 50%;
    outline: none;
    margin-right: 10px;
}
body.dark-mode .radio-option input[type="radio"]{
    border: 2px solid white;
}
.radio-option input[type="radio"]:checked {
    background-color: #000;
    box-shadow: inset 0 0 0 3px #fff;
}
body.dark-mode .radio-option input[type="radio"]:checked {
    background-color: white;
    box-shadow: inset 0 0 0 3px black;
}
.radio-option label {
    font-size: 16px;
}
#priceText {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 600;
}
#priceValue {
    font-size: 80px;
    font-weight: bold;
}
#priceInput {
    font-size: 80px;
    width: 150px;
    border: none;
    outline: none;
    text-align: left;
    background-color: white;
    transition: 0.6s;
}
body.dark-mode #priceInput {
    background-color: #262626;
    color: white;
}
section button{
    position: absolute;
    top: 87%;
    left: 77%;
    width: 380px;
    height: 75px;
    border-radius: 20px;
    font-size: 32px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    color: white;
    transition: 0.6s;
    border-style: none;
    border: 1px solid black;
    background-color: black;
}
button:hover{
    background-color: #d6d6d6;
    color: black;
    font-weight: 600;
}
body.dark-mode section button{
    background-color: #262626;
    color: white;
    border-style: none;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.25);
}
body.dark-mode section button:hover{
    background-color: black;
    font-weight: 600;
}