
section{
    padding-top: 250px;
    padding-bottom: 100px;
    margin-left: 230px;
}
section h1{
    font-size: 45px;
    margin-top: -20px;
}
section h2{
    font-size: 32px;
    margin-top: -30px;
}
section h3{
    margin-top: -30px;
    font-weight: 300;
    font-size: 32px;
}
section button{
    position: absolute;
    top: 87%;
    left: 77%;
    margin-top: 10px;
    width: 380px;
    height: 75px;
    border-radius: 20px;
    font-size: 32px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    color: white;
    transition: 0.6s;
    border-style: none;
    border: 1px solid #FEA500;
    background-color: transparent;
    color: #FEA500;
  }

  section button:hover{
    background-color: #FEA500;
    color: white;
    font-weight: 600;
  }

.options {
    display: flex;
    flex-direction: column;
}

.option {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border: 2px solid #FEA500;
    border-radius: 5px;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
    background-color: transparent;
}

input[type="checkbox"]:checked {
    background-color: #FEA500;
    border-color: #FEA500;
}

input[type="checkbox"]:checked::after {
    content: '✘';
    font-size: 18px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


label {
    font-size: 30px;
    cursor: pointer;
}


