body{
    font-family: "Inter", sans-serif;
    transition: background-image 0.3s ease, color 0.3s ease;
    background-image: url(../../resources/images/fundo.gerenciador.png);
    background-attachment: fixed;
}
body.dark-mode {
    background-color: #262626;
    color: #ffffff;
    background-image: url(../../resources/images/fundo.gerenciador.dark.png);
}
header{
    background-color: #FFFFFF;
}
#Info h1{
    font-size: 62px;
    color: #0000FF;
    transition: color 0.3s ease;
}
#Info h2{
    font-size: 40px;
    font-weight: 400;
    margin-top: -2%;
}
body.dark-mode #Info h1{
    color: #9c079c;
}
#SecInfo{
    padding-top: 150px;
    margin-left: 10%;
}
#recursos{
     display: flex;
    align-items: center; 
    gap: 5px;
}
body.dark-mode #recursos svg path{
    fill: white;
    stroke: white;
  }

a{
    text-decoration: none;
    color: black;
}
#quadras{
    display: grid;
    grid-template-columns: auto auto auto;
}
.quadra {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.quadra img {
    max-width: 100%;
    height: auto;
}
#quadra-item{
    width: 500px;
    height: 380px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
    transition: 0.6s;
}
body.dark-mode #quadra-item{
    border: 1px solid white;
    background-color: #262626;
}
#quadra-item img{
    width: 500px;
    height: 190px;
    border-radius: 15px 15px 0px 0px;
}
#quadra-item h1{
    font-size: 34px;
    font-weight: 600;
    margin-left: 5%;
}
#quadra-item h2{
    font-size: 30px;
    font-weight: 300;
    margin-top: -5%;
    margin-left: 5%;
}
p{
    color: black;
}
body.dark-mode p{
    color: white;
}
a{
    color: black;
}
body.dark-mode a{
    color: white;
}
