body{
    font-family: "Inter", sans-serif;
    background-color: #fff;
    transition: background-color 0.6s ease, color 0.3s ease;
    margin: 0;
}

body.dark-mode {
    background-color: #262626;
    color: #ffffff;
}

header {
    width: 98%;
    height: 100px;
    position: fixed;
    left: 50%;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    transform: translate(-50%);
    border-bottom: 3px solid #22222217;
    transition: 0.6s;
    background-color: white;
}
header a{
    color: black;
    text-decoration: none;
    transition: 0.6s;
}
.logo, .user-menu {
    flex: 0 0 auto;
}

.center-nav {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.center-nav a {
    color: black;
    text-decoration: none;
    transition: 0.6s;
}

body.dark-mode .center-nav a {
    color: white;
}
body.dark-mode a{
    color: white;
}
body.dark-mode header{
    background-color: #262626;
    border-bottom: 3px solid white;
}

#links-container{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 10px;
}
header h1{
    font-size: 26px;
}
header div img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
#imgH2{
    width: 100px;
    height: 100px;
    background-image: url(../../resources/images/logo.arena.png);
    background-size:  50px;
    background-repeat: no-repeat;
    background-position: center;
}
.mainmenubtn {
    background-color: transparent;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.6s;
    background-color: #22222217;
}
body.dark-mode .mainmenubtn{
    background-color: white;
}
.dropdown{
    position: relative;
    display: inline-block;
    height: 60px;
}
.dropdown-child{
    display: none;
    transition: 0.6s;
    position: absolute;
    right: 65%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.55);
}
body.dark-mode .dropdown-child{
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.35);
}
.dropdown-child a {
    text-decoration: none;
}
.dropdown-child button{
    font-family: "Inter", sans-serif;
    font-weight: 350;
    cursor: pointer;
    background-color: white;
    font-size: 16px;
    width: 100px;
    color: black;
    padding: 20px 0;
    text-decoration: none;
    display: block;
    border: none;
    transition: 0.6s;
    text-align: left;
    padding-left: 10px;
}
body.dark-mode .dropdown-child button{
    background-color: #262626;
    color: white;
}
.dropdown-child button:hover{
    background-color: #d6d6d6;
    font-weight: 600;
}
body.dark-mode .dropdown-child button:hover{
    background-color: black;
    font-weight: 600;
}

.dropdown:hover .dropdown-child {
    display: block;
}
.logoff-btn button{
    color: white;
}
#Name{
    font-weight: 500;
    border-bottom: 1px solid #FFA500;
    padding: 10px 0;
    padding-left: 10px;
}
body.dark-mode #Name{
    border-bottom: 1px solid white;
}

body.dark-mode #QuadCinza{
    background-color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #d6d6d6;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    background-color: white;
    color: black;
    font-size: 16px;
    width: 50px;
    padding: 10px 10px;
    text-decoration: none;
    text-align: left;
    display: block;
    transition: 0.6s;
}

.dropdown-content a:hover { background-color: #d6d6d6; }
/* Estilos específicos para o dropdown aninhado */
.dropdown1 .dropdown-content {
    top: 25%;
    left: 80%;
}
body.dark-mode .dropdown-content a{
    background-color: #262626;
    color: white;
}
body.dark-mode  .dropdown-content a:hover { background-color: black; color: white; }

.dropdown1:hover .dropdown-content {
    display: block;
}

@media (max-width: 480px){
    header h1{
     display: none;
    }
    .mainmenubtn {
        border: none;
        width: 60px;
        height: 60px;
        margin-right: 20px;
    }
    #imgH2{
        width: 100px;
        height: 100px;
        background-image: url(../../resources/images/logo.arena.png);
        background-size:  50px;
    
    }

    .modal {
        display: none; /* Escondido por padrão */
        position: fixed; 
        z-index: 1; /* Fica acima de outros conteúdos */
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Fundo preto com transparência */
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* Centralizado verticalmente */
        padding: 20px;
        border: 1px solid #888;
        width: 300px; /* Largura do modal */
        text-align: center;
    }

    .modal-content button {
        margin: 10px; /* Margem entre botões */
    }
}