body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    padding-top: 150px;
    margin-left: 10%;
}

h2 {
    font-size: 30px;
}

.dia-row {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.dia-row label {
    margin-right: 10px;
    min-width: 120px;
}
#ate{
    margin: 0px 15px;
}
#intervalo{
    margin-left: 40px;
    margin-right: 20px;
}
select {
    margin: 0 5px;
    padding: 15px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
}

select:focus {
    outline: none;
    border-color: #007bff;
}
.checkbox-wrapper {
    position: relative;
}

.checkbox-wrapper input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkbox-wrapper label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 50px;
    border: 2px solid #262626;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    transition: all 0.3s ease;
    margin-right: 50px;
}
body.dark-mode .checkbox-wrapper label {
    border: 2px solid white;
    color: white;
}
.checkbox-wrapper input[type="checkbox"]:checked + label {
    background-color: #262626;
    border-color: #262626;
    color: white;
}
body.dark-mode .checkbox-wrapper input[type="checkbox"]:checked + label {
    background-color: white;
    border-color: white;
    color: #262626;
}
.checkbox-wrapper input[type="checkbox"]:focus + label {
    box-shadow: 0 0 0 2px #262626;
}
.checkbox-wrapper label:hover {
    border-color: #262626;
}
body.dark-mode .checkbox-wrapper input[type="checkbox"]:focus + label {
    box-shadow: 0 0 0 2px white;
}
body.dark-mode .checkbox-wrapper label:hover {
    border-color: white;
}
.container button{
    position: absolute;
    top: 87%;
    left: 77%;
    width: 380px;
    height: 75px;
    border-radius: 20px;
    font-size: 32px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    color: white;
    transition: 0.6s;
    border-style: none;
    border: 1px solid black;
    background-color: black;
    padding: 0;
}
.container button:hover{
    background-color: #d6d6d6;
    color: black;
    font-weight: 600;
}
.container body.dark-mode .container button{
    background-color: #262626;
    color: white;
    border-style: none;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.25);
}
.container body.dark-mode .container button:hover{
    background-color: black;
    font-weight: 600;
}