
section button{
    width: 300px;
    height: 75px;
    border-radius: 20px;
    font-size: 32px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    color: black;
    transition: 0.6s;
    border-style: none;
    border: 1px solid black;
}
button:hover{
    background-color: #d6d6d6;
    font-weight: 600;
}
body.dark-mode section button{
    background-color: #262626;
    color: white;
    border-style: none;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.25);
}
body.dark-mode section button:hover{
    background-color: black;
    font-weight: 600;
}
body.dark-mode #Valor{
    color: white;
}
section{
    padding-top: 100px;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; 
}
section h1{
    font-size: 40px;
}
section h2{
    margin-top: -30px;
    font-size: 32px;
    font-weight: 300;
    width: 774px;
}
#picture__input {
    display: none;
  }
  .picture {
    width: 750px;
    height: 600px;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    transition: 0.6s;
    outline: none;
    overflow: hidden;
    border-radius: 15px;
  }
  .picture:active {
    color: turquoise;
    background: #eee;
  }
  
  .picture:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .picture__img {
    max-width: 100%;
  }
#txt1{
    font-size: 50px;
}
.picture img{
    width: 750px;
    height: 600px;
  }
input[type="file"] {
    display: none;
}
.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Espaçamento entre os inputs */
}
#Continuar{
    position: absolute;
    top: 90%;
    left: 83%;
}

