body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}
a{
    text-decoration: none;
}
header{
    background-color: white;
}
.quadra-list-container {
    flex: 1;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.quadra-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 0.4;
    
    gap: 0px 20px;
}
.quadra-item {
    width: 278px;
    margin-bottom: 30px;
}
.quadra-item img {
    width: 278px;
    height: 265px;
    border-radius: 18px;
    object-fit: cover;
}
.quadra-item h2 {
    font-size: 20px;
    margin-left: 10px;
    line-height: 0.8;
}
.quadra-item p {
    font-size: 19px;
    font-weight: 200;
    margin-left: 10px;
    line-height: 0.4;
}
#search-container{
    margin-top: 150px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 0 10px;
    justify-content: center;
}
h2 b{
    font-weight: 100;
    font-size: 18px;
}
@media (max-width: 480px){
    .quadra-item {
        width: 342px;
    }
    .quadra-item img {
        width: 342px;
        height: 325px;
    }
}