body{
    font-family: "Inter", sans-serif;
    background-image: url(../../resources/images/fundo.perfil.png);
    background-position: bottom;
    background-attachment: fixed;
    transition: background-image 0.3s ease, color 0.3s ease;
}
body.dark-mode {
    background-image: url(../../resources/images/fundo.perfil.dark.png);
    background-color: #262626;
    color: white;
}
#Corpo{
    height: 80vh;
}
#Quad {
    margin-top: 150px;
    background-color: white;
    border: 1px solid #22222260;
    width: 600px;
    height: 600px;
    border-radius: 30px;
    display: grid;
    place-items: center;
    padding-top: 2%;
    transition: 0.6s;
}
body.dark-mode #Quad {
    background-color: #262626;
    border: 1px solid white;
    color: white;
}
#Quad:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#Perfil img{
    border: 1px solid #22222260;
    width: 350px;
    height: 350px;
    border-radius: 50%;
}
#Quad h1{
    font-size: 45px;
   margin-top: -2%;
}
#Quad h2{
    font-size: 25px;
    font-weight: 300;
    margin-top: -10%;
}
#Quad h3{
    font-size: 20px;
    font-weight: 200;
    margin-top: -1%;
}
#Corpo{
    display: grid;
    place-items: center;
}
@media (max-width:600px) {
    #Quad {
        width: 300px;
        height: 300px;
    }
    #Perfil img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    #Quad h1{
        font-size: 30px;
       margin-top: -2%;
    }
    #Quad h2{
        font-size: 15px;
        font-weight: 300;
        margin-top: -10%;
    }
    #Quad h3{
        font-size: 10px;
        font-weight: 200;
        margin-top: -1%;
    }
}

