body{
    font-family: "Inter", sans-serif;
    background-image: url(../../resources/images/background.user.png);
    background-attachment: fixed;
    background-position: 100%;
    transition: background-image 0.3s ease, color 0.3s ease;
}
body.dark-mode {
    background-attachment: fixed;
    background-color: #262626;
    color: white;
}
section{
    padding-top: 100px;
    height: 89vh;
    display: grid;
    justify-content: center;
    align-items: center;
}
#Quad{
    width: 550px;
    height: 580px;
    background-color: white;
    border-radius: 52px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    text-align: center;
    transition: background-image 0.3s ease, color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
#arenatext{
    background-image: url(../images/arenarental.text.png);
    background-size: 250px;
    width: auto;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    
}
body.dark-mode #Quad{
    background-color: #262626;
    border: 1px solid white;
}
#Quad h1{
    text-align: center;
    font-weight: 500;
    padding-top: 2%;
    font-size: 30px;
}
body.dark-mode #QuadCinza2{
    background-color: white;
}
input{
    border: none;
    padding: 0px 10px ;
    font-size: 22px;
    width: 80%;
    height: 74px;
    border-radius: 20px;
    background-color: #22222217;
    margin-bottom: 2.5%;
}

body.dark-mode input{
    border: 1px solid white  
}
body.dark-mode input{
    background-color: rgba(255, 255, 255, 0.144);
    color: white;
}
#Quad button{
    margin-top: 10px;
    width: 380px;
    height: 75px;
    border-radius: 20px;
    font-size: 32px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    color: white;
    transition: 0.6s;
    border-style: none;
    border: 1px solid #FEA500;
    background-color: transparent;
    color: #FEA500;
  }

  #Quad button:hover{
    background-color: #FEA500;
    color: white;
    font-weight: 600;
  }

#nascimento{
    margin-bottom: 2%;
}

a{
    font-weight: 600;
}
#txt4{
    margin-top: 2%;
}
input::placeholder{
        color: black;
}
body.dark-mode input::placeholder {
    color: white;
  }
.dropdown-child{
    display: none;
}
section div{
    font-size: 16px;
}
#txt-form{
    line-height: 1.3;
}
#lab{
    margin-top: 2%;
    margin-bottom: 2%;
}
@media (max-width: 480px){
    #Quad {
        width: 348px; /* 696px - 50% */
        height: 500px; /* 800px - 50% */
    }
    
    #Quad h1 {
        font-size: 15px; /* 30px - 50% */
    }
    
    input {
        font-size: 15px; /* 22px - 50% */
        width: 301px; /* 602px - 50% */
        height: 37px; /* 74px - 50% */
        margin-top: 4%;
        margin-bottom: 4%;
    }
    
    #Quad button {
        font-size: 16px; /* 32px - 50% */
        width: 301px; /* 602px - 50% */
        height: 37px; /* 74px - 50% */
    }
    section div{
        font-size: 14px;
    }
    #txt4{
        margin-top: 4%;
        font-size: 10px;
    }
    #txt5{
        font-size: 10px;
    }
}