
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-input {
    width: 300px;
    padding: 11px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 4px 0 0 4px;
}
.search-button {
    padding: 11px 15px;
    font-size: 16px;
    background-color: white;
    border: 1px solid black;
    border-left: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: 0.6s;
}
.search-button:hover {
  background-color: #c78202;
}
.search-input::placeholder{
  color: black;
}
body.dark-mode .search-input::placeholder{
  color: white;
}
body.dark-mode .search-input{
    border: 1px solid white;
    background-color: #262626;
}
svg{
  color: black;
}
body.dark-mode  .search-button{
  background-color: #262626;
  border: 1px solid white;
}
body.dark-mode svg{
  color: white;
}
@media (max-width: 480px){
  .search-input {
    width: 200px;
    padding: 11px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 4px 0 0 4px;
}
}
@media (max-width: 480px) {
  .search-input {
    width: 150px;
}
.search-button {
  padding: 10px 13px;
}
}
