body{
    font-family: "Inter", sans-serif;
    background-image: url(../../resources/backgrounds/fundo3.png);
    background-size: 100%;
    transition: background-image 0.3s ease, color 0.3s ease;
    
}
body.dark-mode {
    background-image: url(../../resources/backgrounds/fundo3dark.png);
    background-size: 100%;
    background-color: #262626;
    color: #ffffff;
}
header{
    display: grid;
    grid-template-columns: 6% 88% auto;
    justify-content: left;
    height: 100px;
}

header h1{
    margin-top: 25px;
}
header h1 a{
    font-size: 20px;
}
header h2{
    margin-top: -10px;
    margin-left: 3%;
}
#QuadCinza{
    width: 95%;
    height: 3px;
    background-color: #22222217;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
#TT div h1{
    font-size: 45px;
    color: #0000FF;
    transition: color 0.3s ease;
}
div.dark-mode h1{
    font-size: 45px;
    color: white;
}
div h2{
    display: flex;
    font-size: 32px;
    font-weight: 300;
    margin-top: -1.5%;
}
div h2 a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: color 0.3s ease;
}
div.dark-mode h2 a{
    color: white;
}
#TT{
    margin-left: 10%;
    margin-top: 5%;
}
section{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 55% 45%;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
   
}
#Quadrados div{
    background-color: #FFFFFF;
    border: solid 1px black;
    border-radius: 25px;
    width: 465px;
    height: 168px;
    transition: 0.6s;
}
body.dark-mode #Quadrados div{
    background-color: #262626;
    border: solid 1px white;
    border-radius: 25px;
    width: 465px;
    height: 168px;
    transition: 0.6s;
}
#Quadrados div h5{
    margin-top: -3%;
    font-size: 25px;
    font-weight: 300;
    margin-left: 5%;
}
#Quadrados div h6{
    margin-left: 5%;
    margin-top: -8%;
    font-size: 20px;
    font-weight: 300;
}
.quadrado svg path {
    fill: black;
  }
body.dark-mode .quadrado svg path{
    fill: white;
  }
body.dark-mode #Quadrados div h5{
color: white;
}
body.dark-mode #Quadrados div h6{
    color: white;
  }

section div:hover{
    cursor: pointer;
    transform: scale(1.05);
}
a{
    text-decoration: none;
    color: black;
}
.mainmenubtn {
    background-color: #ffffff00;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.6s;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-child{
    display: none;
    background-color: #22222217;
    transition: 0.6s;
    
}
.dropdown-child button{
    cursor: pointer;
    font-size: 16px;
    width: 100px;
    color: black;
    padding: 20px;
    text-decoration: none;
    display: block;
    border: solid 1px rgba(0, 0, 0, 0.322);
}
.dropdown:hover .dropdown-child {
    display: block;
}
.logoff-btn button{
    color: white;
}

#QuadCinza{
    width: 95%;
    height: 3px;
    background-color: #22222217;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
#QuadCinza.dark-mode{
    background-color: white;
}
a{
    text-decoration: none;
}
#ImgPerfil img{
    border: 1px solid #22222260;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
#imgH2{
    width: 100px;
    height: 100px;
    background-image: url(../img/LOGO1.png);
    background-size: 100px;
    transition: background-image 0.3s ease, color 0.3s ease;

}
#imgH2.dark-mode{
    background-image: url(../img/LOGO2.png);
}

