body{
    font-family: "Inter", sans-serif;
    background-color: #22222217;
}
header{
    display: grid;
    grid-template-columns: 6% 88% auto;
    justify-content: left;
    height: 100px;
}

header h1{
    margin-top: 25px;
}
header h1 a{
    font-size: 20px;
}
header h2{
    margin-top: -10px;
    margin-left: 3%;
}
header div img{
    width: 60px;
    border-radius: 100%;
    transition: 0.6s;
    cursor: pointer;
}
#QuadCinza{
    width: 95%;
    height: 3px;
    background-color: #22222217;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
section{
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 230px;
}
section h1{
    font-size: 45px;
}
section h2{
    font-size: 32px;
    font-weight: 300;
    margin-top: -30px;
}
.mainmenubtn {
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    cursor: pointer;
    margin-top:20px;
    transition: 0.6s;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-child{
    display: none;
    background-color: #22222217;
    transition: 0.6s;
    
}
.dropdown-child button{
    cursor: pointer;
    font-size: 16px;
    width: 100px;
    color: black;
    padding: 20px;
    text-decoration: none;
    display: block;
    border: solid 1px rgba(0, 0, 0, 0.322);
}
.dropdown:hover .dropdown-child {
    display: block;
}
.logoff-btn button{
    color: white;
}
a{
    text-decoration: none;
}
#Quad{
    border: 1px solid #22222260;
    width: 600px;
    height: 600px;
    border-radius: 30px;
    display: grid;
    place-items: center;
    padding-top: 2%;
    margin-top: 1.5%;

}
#ImgPerfil{
    border: 1px solid #22222260;
    width: 350px;
    height: 350px;
    border-radius: 50%;
}
#Quad h1{
    font-size: 45px;
   margin-top: -2%;
}
#Quad h2{
    font-size: 25px;
    font-weight: 300;
    margin-top: -10%;
}
#Quad h3{
    font-size: 20px;
    font-weight: 200;
    margin-top: -1%;
}
#Corpo{
    display: grid;
    place-items: center;
}

