body{
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: #22222217;
}
body.dark-mode {
    background-size: 100%;
    background-color: #262626;
    color: white;
}
header{
    display: grid;
    grid-template-columns: 6% 88% auto;
    justify-content: left;
    height: 100px;
}
#imgH2{
    width: 100px;
    height: 100px;
    background-image: url(../img/LOGO1.png);
    background-size: 100px;
    transition: background-image 0.3s ease, color 0.3s ease;

}
#imgH2.dark-mode{
    background-image: url(../img/LOGO2.png);
}
header h1{
    margin-top: 25px;
}
header h1 a{
    font-size: 20px;
}
header h2{
    margin-top: -10px;
    margin-left: 3%;
}
header div img{
    width: 60px;
    border-radius: 100%;
    transition: 0.6s;
    cursor: pointer;
}
#QuadCinza{
    width: 95%;
    height: 3px;
    background-color: #22222217;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
#QuadCinza.dark-mode{
    background-color: white;
}
#QuadCinza2{
    width: 95%;
    height: 3px;
    background-color: #22222217;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
body.dark-mode #QuadCinza2{
    background-color: white;
}
.mainmenubtn {
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    cursor: pointer;
    margin-top:20px;
    transition: 0.6s;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-child{
    display: none;
    background-color: #22222217;
    transition: 0.6s;
    
}
.dropdown-child button{
    cursor: pointer;
    font-size: 16px;
    width: 100px;
    color: black;
    padding: 20px;
    text-decoration: none;
    display: block;
    border: solid 1px rgba(0, 0, 0, 0.322);
}
.dropdown:hover .dropdown-child {
    display: block;
}
.logoff-btn button{
    color: white;
}
a{
    text-decoration: none;
}
section{
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 230px;
}
section h1{
    font-size: 45px;
}
section h2{
    font-size: 32px;
    font-weight: 300;
    margin-top: -30px;
}
#fundo{
    width: 100%;
    height: 472px;

    margin-top: -350px;
    padding-top: 25px;
    }
#fundobranco{
    width: 640px;
    height: 350px;
    background-color: transparent;
    border: 2.5px solid white;
    border-radius: 15px;
    margin-left: 230px;
    padding-top: 50px;
    margin-top: 20%;
}
#fundobranco label{
    font-size: 28px;
    font-weight: 200;
    margin-left: 5%;
}
#fundobranco input[type=text]{
        font-size: 32px;
        width: 500px;
        height: 50px;
        border: none;
        background-color: transparent;
        transition: 0.3s ease, color 0.3s ease;

 }
 body.dark-mode #fundobranco input[type=text]{
    color: white;
 }
#fundobranco input[type=submit]{
        font-size: 24px;
        font-weight: 100;
        width: 220px;
        height: 50px;
        border: solid 1px black;
        border-radius: 10px;
        transition: 0.6s;
        margin-left: 5%;
        margin-top: 2%;
    }

#fundobranco input[type=submit]:hover{
        background-color: black;
    color: white;
    cursor: pointer;
    }    

#fundobranco div{
    width: 90%;
    height: 3px;
    background-color: #22222217;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    transition: background-color 0.3s ease, color 0.3s ease;
}
body.dark-mode #fundobranco div{
    background-color: white;
}



#ImgPerfil{
    position: absolute;
    margin-left: 55%;
    margin-top: -14%;
    border-radius: 100%;
}
#picture__input {
    display: none;
  }
 #ImgPerfil .picture {
    width: 600px;
    height: 600px;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    transition: 0.6s;
    outline: none;
    overflow: hidden;
    border-radius: 100%;
  }
  
  #ImgPerfil .picture:hover {
    color: white;
    background-color: black;
    width: 620px;
    height: 620px;
  }
  
  #ImgPerfil .picture:active {
    color: turquoise;
    background: #eee;
  }
  
  #ImgPerfil .picture:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  .picture img{
    width: 650px;
    height: 650px;
  }
  #ImgPerfil input[type=submit]{
    position: relative;
    font-size: 24px;
        font-weight: 100;
        width: 220px;
        height: 50px;
        border: solid 1px black;
        border-radius: 10px;
        transition: 0.6s;
        margin-left: 30%;
        cursor: pointer;
        margin-top: 3%;
}
#ImgPerfil input[type=submit]:hover{
    background-color: black;
    color: white;
}
#ImgPerfil input::placeholder{
    color: black;
}
#txt1{
    font-size: 50px;
}



