body{
    background-color: #22222217;
    font-family: "Inter", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(LOGO1.png);
    margin: 0;
    padding: 0;
    background-position: left top;
    background-size: 100px;
    background-repeat: no-repeat;
}
#picture__input {
    display: none;
  }
  
 label{
    margin-top: 60px;
    margin-left: 20%;
 } 
  .picture {
    width: 400px;
    aspect-ratio: 16/9;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 2px dashed currentcolor;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
  }
  
  .picture:hover {
    color: #777;
    background: #ccc;
  }
  
  .picture:active {
    border-color: turquoise;
    color: turquoise;
    background: #eee;
  }
  
  .picture:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .picture__img {
    max-width: 100%;
  }
  #Quad{
    width: 696px;
    height: 551px;
    background-color: white;
    border-radius: 52px;
}

#Quad h1{
    text-align: center;
    font-weight: 500;
    padding-top: 35px;
    font-size: 30px;
}
#Quad h2{
    font-size: 32px;
    font-weight: 400;
    position: absolute;
    left: 8%;
}
#QuadCinza{
    width: 681px;
    height: 3px;
    background-color: #22222217;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
input[type=submit]{
  border: none;
  font-size: 32px;
  font-weight: bold;
  width: 602px;
  height: 74px;
  background-color: #409FDF;
  color: white;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition-duration: 0.4s;
}
input[type=submit]:hover{
  background-color: #D9A03B;
  color: white;

}